{%load static%}
<!DOCTYPE html>
<!-- Coding by CodingNepal | www.codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Dashboard Inicial </title>
    <link rel="stylesheet" href= {% static "css/admhub_style.css" %} >
    {% block css %} {% endblock %}
    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
 
  <ul>
    <div class="sidebar close">
      <div class="profile-details">
        <div class="profile-content">
          <img src="{% block profile_image %}{% endblock %}" alt="profileImg">
        </div>
        <div class="name-job">
          <div class="profile_name">Ana Clara</div>
          <div class="job">Administrador</div>
        </div>
      </div>
      <ul class="nav-links">
        <li>
          <a href="{% url 'initial-dashboard-path' %}">
            
            <i class='bx bx-home-smile' style='color:#ffffff' ></i>
            <span class="link_name">Início</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="#">Início</a></li>
          </ul>
        </li>
        <li>
          <div class="iocn-link">
            <a href="#">
              <i class='bx bx-paste' style='color:#ffffff'  ></i>
              <span class="link_name">Notícias</span>
            </a>
            <i class='bx bxs-chevron-down arrow' ></i>
          </div>
          <ul class="sub-menu">
            <li><a class="link_name" href="#">Notícias</a></li>
            <li><a href="#">Todas</a></li>
            <li><a href="#">Adicionar Notícias</a></li>
          </ul>
        </li>
        <li>
          <div class="iocn-link">
            <a href="#">
              <i class='bx bx-chat'></i>
              <span class="link_name">Comentários</span>
            </a>
            <i class='bx bxs-chevron-down arrow' ></i>
          </div>
          <ul class="sub-menu">
            <li><a class="link_name" href="#">Comentários</a></li>
            <li><a href="#">Todos</a></li>
            <li><a href="#">Denunciados</a></li>
          </ul>
        </li>
        <li>
          <a href="{% url 'users-dashboard-path' %}">
            <i class='bx bx-group' style='color:#ffffff' ></i>
            <span class="link_name">Usuários</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="#">Usuários</a></li>
          </ul>
        </li>
        <li>
          <a href="#"  >
            <i class='bx bx-log-out' style='color:#f70707'  ></i>
            <span class="link_name logout ">Sair</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="#">Sair</a></li>
          </ul>
        </li>
        <li>
  
    </li>
  </ul>
</div>
<section class="home-section">
  <div class="home-content">
    <i class='bx bx-left-arrow-circle' ></i>
  </div>
  {% block content %}
  {% endblock %}
</section> 

  <script>
  let arrow = document.querySelectorAll(".arrow");
  for (var i = 0; i < arrow.length; i++) {
    arrow[i].addEventListener("click", (e)=>{
   let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
   arrowParent.classList.toggle("showMenu");
    });
  }
  let sidebar = document.querySelector(".sidebar");
  let sidebarBtn = document.querySelector(".bx-left-arrow-circle");
  console.log(sidebarBtn);
  sidebarBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("close");
    if (sidebarBtn.style.transform === "rotate(180deg)") {
      sidebarBtn.style.transform = "rotate(0deg)";
  } else {
      sidebarBtn.style.transform = "rotate(180deg)";
  }
  });
  </script>
</html>