<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"  href= {% static "css/cadastro.css" %}>
    <title>Cadastro - MomentoIFRN</title>
</head>

<body>

    <header>
        <div class="arrow"></div>
    </header>

    <main>
        <img src="{% static "videographer.png" %}" alt="Ilustração de um cinegrafista">

        <div class="conteudoForm">

            <img src="{% static "logoMomentoIfrn.png" %}" alt="Logo do MomentoIFRN" class=".logo">

            <div class="tituloForm">
                <h1>Cadastro</h1>
                <p>Preencha os campos para completar o seu cadastro</p>
            </div>

            <form>

                <input type="text" placeholder="Nome" name="nome">

                <input type="text" placeholder="Email" name="email">

                <input type="text" placeholder="Nome de usuário" name="username">

                <input type="password" placeholder="Senha" name="password">

                <input type="password" placeholder="Confirme a senha" name="confirmPassword">

            </form>

            <hr>

            <button>Cadastrar</button>

            <p>Já tem cadastro? <a href="#">Clique aqui</a></p>

        </div>
        </div>
    </main>

</body>

</html>