{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@350&icon_names=home,play_arrow"
        rel="stylesheet" />

    <link rel="stylesheet" href="{% static "css/mentes.css" %}">
    <title>Momento IFRN - Mentes Inspiradoras</title>
</head>

<body>
    <header>
        <img src = "{% static "img/logo-momento.jpg" %}" alt="logo do Momento IFRN">
        <nav>
            <a href="#" class="home-link">
                <span class="material-symbols-outlined">
                    home
                </span>
                Início
            </a>
            <a href="#">Quem Somos</a>
            <a href="#">Mentes Inspiradoras</a>
        </nav>
        <div class="search-container">
            <input type="text" placeholder="Buscar">
            <button>
                <img src = "{% static "img/iconePessoa.png" %}" alt="Ícone de Perfil">
                Entrar
            </button>
        </div>
    </header>

    <main>
        <div class="texto">
            <div class='main-title'>
                <div class="circulo-p"></div>
                <div class="circulo-g"></div>
                <h1>Mentes Inspiradoras</h1>
                <div class="circulo-g"></div>
                <div class="circulo-p"></div>
            </div>
            <p>Confira nosso papo com personagens incríveis do nosso Campus!</p>
        </div>
        <div class="filters">

            <select>
                <option>Data</option>
            </select>
            <select>
                <option>Organizar por</option>
            </select>
            <button>Filtrar</button>
            <input type="text" placeholder="Buscar episódio">
        </div>

        <div class="episodes">
            <div class="episode">
                <img src = "{% static "img/valdenice.png" %}" alt="episodio 1 - Valdenice Freitas">
                <h3>Ep 01 - Valdenice Freitas</h3>
                <button>
                    <span class="material-symbols-outlined">
                        play_arrow
                    </span>
                    Assistir
                </button>
            </div>

            <div class="episode">
                <img src = "{% static "img/amelia.png" %}" alt="Episódio 2 - Amélia Reis">
                <h3>Ep 02 - Amélia Reis</h3>
                <button>
                    <span class="material-symbols-outlined">
                        play_arrow
                    </span>
                    Assistir
                </button>
            </div>

            <div class="episode">
                <img src = "{% static "img/antonia.png" %}" alt="Episódio 3 - Antônia Silva">
                <h3>Ep 03 - Antônia Silva</h3>
                <button>
                    <span class="material-symbols-outlined">
                        play_arrow
                    </span>
                    Assistir
                </button>
            </div>

            <div class="episode">
                <img src = "{% static "img/ayla.png" %}" alt="Episódio 4 - Ayla Márcia">
                <h3>Ep 04 - Ayla Márcia</h3>
                <button>
                    <span class="material-symbols-outlined">
                        play_arrow
                    </span>
                    Assistir
                </button>
            </div>

            <div class="episode">
                <img src = "{% static "img/aluisio.png" %}" alt="Episódio 5 - Aluísio Rêgo">
                <h3>Ep 05 - Aluísio Rêgo</h3>
                <button>
                    <span class="material-symbols-outlined">
                        play_arrow
                    </span>
                    Assistir
                </button>
            </div>

            <div class="episode">
                <img src = "{% static "lucas.png" %}" alt="Episódio 6 - Lucas Schnaiderman">
                <h3>Ep 06 - Lucas Schnaiderman</h3>
                <button>
                    <span class="material-symbols-outlined">
                        play_arrow
                    </span>
                    Assistir
                </button>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer">
            <div class="logo-ifrn"></div>
            <div class="text-f">
                <h1>Instituto Federal do Rio Grande do Norte - Campus Pau dos Ferros</h1>

                <div class="dados-f">
                    <p><span>Endereço:</span> BR 405, Km 154, S/N, Bairro Chico Cajá - 59900-000</p>
                    <p><span>E-mail:</span> comunicacao.pf@ifrn.edu.br</p>
                    <p> <span>Telefone:</span> (84) 4005-4109</p>
                </div>

                <div class="icons-f">
                    <div class="icon-f"></div>
                    <div class="icon-f"></div>
                    <div class="icon-f"></div>
                </div>

            </div>
        </div>
    </footer>
</body>

</html>