{% extends "paginas/logado.html" %}
{% load static %}

{% block content %}
<div class="minha_conta">
  <div class="voltar">
    <a href="{% url 'index' %}"><i class="ri-arrow-left-s-line"></i></a>
   
    <h3>Minha Conta</h3>
  </div>
 
  <div class="perfil"> 
    <div class="img_perfil">
      <a href="#"><i class="ri-edit-box-line"></i></a> 
      <img src="{% static 'img/JoaoMarcosPerfil.png' %}" alt="Imagem doPerfil" class="profile-image">
    </div>
    <h3>João Marcos</h3>
  </div>
  <div class="container">
    <div class="sobre_perfil">
      <h3>Sobre:</h3>
      <textarea name="" id="" placeholder=" 📰 Editor do Jornal Escolar | 🎓 Cursando Alimentos | ⚽ Apaixonado por Esportes | 📚 Amante da Leitura"></textarea>
    </div>

    <div class="email_perfil">
      <h3>Email: </h3>
      <input type="email" placeholder="E-mail">
    </div>

    <div class="alterar_senha_perfil">
      <button type="submit">Alterar Senha</button>
    </div>
    </div>
</div>
{% endblock %}