{% extends 'admhub/base_admhub.html' %}
{%load static%}
{% block title %}Página Inicial{% endblock %}

{% block css %}  
<link rel="stylesheet" href= {% static "css/checkbox.css" %} >
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

{% endblock %}

{% block profile_image %}{% static 'images/mulher_perfil.jpeg' %}{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="pt-br" class="antialiased">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>DataTables </title>
	<meta name="description" content="(Formerly Tailwind Toolbox) ">
	<meta name="keywords" content="">
	<link href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" rel=" stylesheet">
	<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
	<link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet">
   
    <link rel="stylesheet" href= {% static "css/tables_style.css" %} >
    <link rel="stylesheet" href= {% static "css/posts_icons_style.css" %} >
    <link rel="stylesheet" href="btn.css" />
</head>

<body class="bg-gray-100 text-gray-900 tracking-wider leading-normal">


	<!--Container-->
	<div class="container w-full md:w-4.5/5 xl:w-/5/5  mx-auto px-2">

		<!--Title-->
		<h1 class="flex items-center font-inter font-medium break-normal text-black-500 px-2 py-8 text-3xl md:text-3xl">
			Comentários Denúnciados
		</h1>


		<!--Card-->
		<div id='recipients' class="p-8 mt-6 lg:mt-0 border-2 bg-white font-inter">


			<table id="example" class="stripe hover cell-border font-inter" style="width:100%; padding-top: 1em;  padding-bottom: 1em;">
				<thead>
					<tr>
                        <th class="font-inter font-medium "data-priority="1">Comentário</th>
                        <th class="font-inter font-medium "data-priority="2">Autor</th>
                        <th class="font-inter font-medium "data-priority="3">Likes</th>
                        <th class="font-inter font-medium "data-priority="4">Dislikes</th>
                        <th class="font-inter font-medium "data-priority="5">Data de Publicação</th>
                        <th class="font-inter font-medium "data-priority="6">Notícia</th>
                        <th class="font-inter font-medium "data-priority="7">Validar Denúncia</th>
                        <th class="font-inter font-medium "data-priority="8">Motivo </th>
					</tr>
				</thead>
				<tbody>

                    <tr>
                        <td class="font-inter font-light">Nova vacina contra a gripe não é mais eficaz</td>
                        <td class="font-inter font-light">Ana Silva</td>
                        <td class="font-inter font-light">4</td>
                        <td class="font-inter font-light">50</td>
                        <td class="font-inter font-light">Publicado em 01/01/2025 às 09:00 am</td>
                        <td class="font-inter font-light"><a href="#">Nova Vacina da Gripe</a></td>
                        <td class="font-inter font-light">
                           <a href=""><i class='bx bx-check-square' style='color:#24f708'  ></i></a>
                           <a href=""><i class='bx bx-message-square-x' style='color:#db1010'></i></a>
                        </td>
                        <td class="font-inter font-light">Racismo</td>
                     </tr>

                     <tr>
                        <td class="font-inter font-light">Nova vacina contra a gripe não é mais eficaz</td>
                        <td class="font-inter font-light">Ana Silva</td>
                        <td class="font-inter font-light">4</td>
                        <td class="font-inter font-light">50</td>
                        <td class="font-inter font-light">Publicado em 01/01/2025 às 09:00 am</td>
                        <td class="font-inter font-light"><a href="#">Nova Vacina da Gripe</a></td>
                        <td class="font-inter font-light">
                            <a href=""><i class='bx bx-check-square' style='color:#24f708'></i></a>
                            <a href=""><i class='bx bx-message-square-x' style='color:#db1010'></i></a>
                        </td>
                        <td class="font-inter font-light">Conteúdo Falso</td>
                    </tr>
                    <tr>
                        <td class="font-inter font-light">A tecnologia 5G está transformando a comunicação</td>
                        <td class="font-inter font-light">João Martins</td>
                        <td class="font-inter font-light">10</td>
                        <td class="font-inter font-light">100</td>
                        <td class="font-inter font-light">Publicado em 05/01/2025 às 02:30 pm</td>
                        <td class="font-inter font-light"><a href="#">Transformação 5G</a></td>
                        <td class="font-inter font-light">
                            <a href=""><i class='bx bx-check-square' style='color:#24f708'></i></a>
                            <a href=""><i class='bx bx-message-square-x' style='color:#db1010'></i></a>
                        </td>
                        <td class="font-inter font-light">Discurso de Ódio</td>
                    </tr>
                    <tr>
                        <td class="font-inter font-light">Estudo revela como a inteligência artificial pode salvar vidas</td>
                        <td class="font-inter font-light">Mariana Costa</td>
                        <td class="font-inter font-light">7</td>
                        <td class="font-inter font-light">30</td>
                        <td class="font-inter font-light">Publicado em 08/01/2025 às 11:15 am</td>
                        <td class="font-inter font-light"><a href="#">Inteligência Artificial</a></td>
                        <td class="font-inter font-light">
                            <a href=""><i class='bx bx-check-square' style='color:#24f708'></i></a>
                            <a href=""><i class='bx bx-message-square-x' style='color:#db1010'></i></a>
                        </td>
                        <td class="font-inter font-light">Spam</td>
                    </tr>
                    <tr>
                        <td class="font-inter font-light">Novo tratamento para Alzheimer mostra resultados promissores</td>
                        <td class="font-inter font-light">Felipe Ribeiro</td>
                        <td class="font-inter font-light">15</td>
                        <td class="font-inter font-light">120</td>
                        <td class="font-inter font-light">Publicado em 10/01/2025 às 08:00 am</td>
                        <td class="font-inter font-light"><a href="#">Tratamento Alzheimer</a></td>
                        <td class="font-inter font-light">
                            <a href=""><i class='bx bx-check-square' style='color:#24f708'></i></a>
                            <a href=""><i class='bx bx-message-square-x' style='color:#db1010'></i></a>
                        </td>
                        <td class="font-inter font-light">Informações Enganosas</td>
                    </tr>
                    <tr>
                        <td class="font-inter font-light">Economia digital: um olhar sobre o futuro do mercado de trabalho</td>
                        <td class="font-inter font-light">Lucas Pereira</td>
                        <td class="font-inter font-light">25</td>
                        <td class="font-inter font-light">200</td>
                        <td class="font-inter font-light">Publicado em 12/01/2025 às 03:00 pm</td>
                        <td class="font-inter font-light"><a href="#">Futuro Mercado de Trabalho</a></td>
                        <td class="font-inter font-light">
                            <a href=""><i class='bx bx-check-square' style='color:#24f708'></i></a>
                            <a href=""><i class='bx bx-message-square-x' style='color:#db1010'></i></a>
                        </td>
                        <td class="font-inter font-light">Discurso de Ódio</td>
                    </tr>
                    <tr>
                        <td class="font-inter font-light">Mudanças climáticas: como podemos reduzir os impactos?</td>
                        <td class="font-inter font-light">Carla Gomes</td>
                        <td class="font-inter font-light">5</td>
                        <td class="font-inter font-light">45</td>
                        <td class="font-inter font-light">Publicado em 14/01/2025 às 04:30 pm</td>
                        <td class="font-inter font-light"><a href="#">Impactos Climáticos</a></td>
                        <td class="font-inter font-light">
                            <a href=""><i class='bx bx-check-square' style='color:#24f708'></i></a>
                            <a href=""><i class='bx bx-message-square-x' style='color:#db1010'></i></a>
                        </td>
                        <td class="font-inter font-light">Desinformação</td>
                    </tr>
                    <tr>
                        <td class="font-inter font-light">Saúde mental no ambiente de trabalho: como melhorar o bem-estar</td>
                        <td class="font-inter font-light">Rafael Souza</td>
                        <td class="font-inter font-light">12</td>
                        <td class="font-inter font-light">80</td>
                        <td class="font-inter font-light">Publicado em 15/01/2025 às 10:00 am</td>
                        <td class="font-inter font-light"><a href="#">Saúde Mental no Trabalho</a></td>
                        <td class="font-inter font-light">
                            <a href=""><i class='bx bx-check-square' style='color:#24f708'></i></a>
                            <a href=""><i class='bx bx-message-square-x' style='color:#db1010'></i></a>
                        </td>
                        <td class="font-inter font-light">Discurso de Ódio</td>
                    </tr>
                    <tr>
                        <td class="font-inter font-light">O futuro das energias renováveis e o impacto na economia global</td>
                        <td class="font-inter font-light">Gabriel Lima</td>
                        <td class="font-inter font-light">20</td>
                        <td class="font-inter font-light">150</td>
                        <td class="font-inter font-light">Publicado em 16/01/2025 às 02:00 pm</td>
                        <td class="font-inter font-light"><a href="#">Energias Renováveis</a></td>
                        <td class="font-inter font-light">
                            <a href=""><i class='bx bx-check-square' style='color:#24f708'></i></a>
                            <a href=""><i class='bx bx-message-square-x' style='color:#db1010'></i></a>
                        </td>
                        <td class="font-inter font-light">Conteúdo Falso</td>
                    </tr>
                    <tr>
                        <td class="font-inter font-light">Como a meditação pode melhorar a saúde do cérebro</td>
                        <td class="font-inter font-light">Juliana Martins</td>
                        <td class="font-inter font-light">8</td>
                        <td class="font-inter font-light">60</td>
                        <td class="font-inter font-light">Publicado em 17/01/2025 às 09:30 am</td>
                        <td class="font-inter font-light"><a href="#">Meditação e Saúde</a></td>
                        <td class="font-inter font-light">
                            <a href=""><i class='bx bx-check-square' style='color:#24f708'></i></a>
                            <a href=""><i class='bx bx-message-square-x' style='color:#db1010'></i></a>
                        </td>
                        <td class="font-inter font-light">Spam</td>
                    </tr>
                    <tr>
                        <td class="font-inter font-light">Entendendo o impacto da automação no futuro do trabalho</td>
                        <td class="font-inter font-light">Ricardo Almeida</td>
                        <td class="font-inter font-light">14</td>
                        <td class="font-inter font-light">110</td>
                        <td class="font-inter font-light">Publicado em 19/01/2025 às 11:45 am</td>
                        <td class="font-inter font-light"><a href="#">Automação e Trabalho</a></td>
                        <td class="font-inter font-light">
                            <a href=""><i class='bx bx-check-square' style='color:#24f708'></i></a>
                            <a href=""><i class='bx bx-message-square-x' style='color:#db1010'></i></a>
                        </td>
                        <td class="font-inter font-light">Discurso de Ódio</td>
                    </tr>
                    <tr>
                        <td class="font-inter font-light">A crescente importância das criptomoedas no mercado financeiro</td>
                        <td class="font-inter font-light">Patrícia Nunes</td>
                        <td class="font-inter font-light">18</td>
                        <td class="font-inter font-light">130</td>
                        <td class="font-inter font-light">Publicado em 20/01/2025 às 12:00 pm</td>
                        <td class="font-inter font-light"><a href="#">Criptomoedas no Mercado</a></td>
                        <td class="font-inter font-light">
                            <a href=""><i class='bx bx-check-square' style='color:#24f708'></i></a>
                            <a href=""><i class='bx bx-message-square-x' style='color:#db1010'></i></a>
                        </td>
                        <td class="font-inter font-light">Discurso de Ódio</td>
                    </tr>
                    <tr>
                        <td class="font-inter font-light">Novas tecnologias para o tratamento de câncer estão sendo desenvolvidas</td>
                        <td class="font-inter font-light">Eduardo Lima</td>
                        <td class="font-inter font-light">22</td>
                        <td class="font-inter font-light">140</td>
                        <td class="font-inter font-light">Publicado em 22/01/2025 às 01:30 pm</td>
                        <td class="font-inter font-light"><a href="#">Tratamento Câncer</a></td>
                        <td class="font-inter font-light">
                            <a href=""><i class='bx bx-check-square' style='color:#24f708'></i></a>
                            <a href=""><i class='bx bx-message-square-x' style='color:#db1010'></i></a>
                        </td>
                        <td class="font-inter font-light">Informações Enganosas</td>
                    </tr>
                    <tr>
                        <td class="font-inter font-light">A educação digital e seu impacto no ensino tradicional</td>
                        <td class="font-inter font-light">Sofia Almeida</td>
                        <td class="font-inter font-light">17</td>
                        <td class="font-inter font-light">125</td>
                        <td class="font-inter font-light">Publicado em 23/01/2025 às 03:30 pm</td>
                        <td class="font-inter font-light"><a href="#">Educação Digital</a></td>
                        <td class="font-inter font-light">
                            <a href=""><i class='bx bx-check-square' style='color:#24f708'></i></a>
                            <a href=""><i class='bx bx-message-square-x' style='color:#db1010'></i></a>
                        </td>
                        <td class="font-inter font-light">Spam</td>
                    </tr>
                    <tr>
                        <td class="font-inter font-light">A importância de uma dieta equilibrada para a saúde a longo prazo</td>
                        <td class="font-inter font-light">Luana Pereira</td>
                        <td class="font-inter font-light">30</td>
                        <td class="font-inter font-light">200</td>
                        <td class="font-inter font-light">Publicado em 25/01/2025 às 04:00 pm</td>
                        <td class="font-inter font-light"><a href="#">Dieta e Saúde</a></td>
                        <td class="font-inter font-light">
                            <a href=""><i class='bx bx-check-square' style='color:#24f708'></i></a>
                            <a href=""><i class='bx bx-message-square-x' style='color:#db1010'></i></a>
                        </td>
                        <td class="font-inter font-light">Conteúdo Falso</td>
                    </tr>
                    
                     

                     
                    
                     

				</tbody>
			</table>
		</div>
		<!--/Card-->
	</div>

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

	<!--Datatables -->
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
	<script>
		$(document).ready(function () {

			var table = $('#example').DataTable({
				responsive: true
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json'
                }
			})
				.columns.adjust()
				.responsive.recalc();
		});
	</script>

<script>
    $(document).ready(function () {
        var table = $('#example').DataTable({
            responsive: true,
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json'
            }
        })
        .columns.adjust()
        .responsive.recalc();
    });

</script>


</body>

</html>

{% endblock %}
